@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sideBar: 100px;
  --paddingMain: 15px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: var(--paddingMain);
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* .sideBar {
  width: var(--sideBar);
  max-width: var(--sideBar);
  height: calc(100vh - var(--paddingMain));
  background-color: red;
} */
